<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dianping.paas.core.dal.dao.AppFileDao">
    <insert id="insert" parameterType="AppFileEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO app_file (local_path, token, app_id, app_version, upload_url, download_url, md5, creation_date, upload_date, backup_status)
        VALUES (#{localPath}, #{token}, #{appId}, #{appVersion}, #{uploadUrl}, #{downloadUrl}, #{md5}, #{creationDate}, #{uploadDate}, #{backupStatus})
    </insert>
</mapper>