<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dianping.paas.core.dal.dao.InstanceDao">
    <insert id="insert" parameterType="InstanceEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO instance (instance_id, instance_group_id, app_id, app_version, instance_ip, agent_ip, instance_port, type, status, creation_date, last_modified_date, image, instance_index)
        VALUES (#{instanceId}, #{instanceGroupId}, #{appId}, #{appVersion}, #{instanceIp}, #{agentIp}, #{instancePort}, #{type}, #{status}, #{creationDate}, #{lastModifiedDate}, #{image}, #{instanceIndex})
    </insert>
    <select id="countNonRemovedInstanceByGroupId" resultType="java.lang.Integer">
        SELECT * FROM instance WHERE instance_group_id = #{groupId} AND status!=400 AND status!=501 AND status!=404
    </select>
    <select id="findUpgradeableInstances" resultType="com.dianping.paas.core.dal.entity.InstanceEntity">
        SELECT * FROM instance WHERE app_id = #{appId} AND status!=400 AND status!=501 AND status!=404
    </select>
</mapper>